.body-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-top: 100px;
}

.first-sect {
    width: 500px;
}


.sec-sect {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 40px 40px;
    gap: 40px;
}