.body-cont {
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 40px 40px 40px 280px; /*240px sidebar 4 40px gap*/
    box-sizing: border-box;
}

.first-sect {
    width: 100%;
}


.sec-sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    gap: 24px;
    min-width: 0;
}

@media (min-width: 1200px) {
    .body-cont {
        max-width: 1640px; /*1400px + 240px, so content matched 1400px*/
        margin: 0 auto;
    }
}

@media (max-width: 1023px) {
    .body-cont {
        grid-template-columns: 440px 1fr;
        padding: 24px 24px 24px 264px; /*240px sidebar + 24px gap*/
    }

    .sec-sect {
        padding-top: 24px;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .body-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: auto;
        gap: 24px;
        padding: 80px 20px 20px;
    }

    .first-sect {
        width: 100%;
    }

    .sec-sect {
        padding-top: 0;
        justify-content: space-between;
        gap: 16px;
        margin-left: 80px;
    }
}

@media (max-width: 480px) {
    .body-cont {
        gap: 20px;
        padding: 90px 24px 24px;
    }

    .sec-sect {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 320px) {
    .body-cont {
        gap: 16px;
        padding: 90px 12px 12px;
    }
}

