footer {
    position: static;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-cont {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part1 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sentence {
    font-size: 23px;
    font-weight: 500;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 16px;
    padding-bottom: 15px;
}

.image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.part2 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.heading {
    font-size: 30px;
}

.quick-links {
    display: grid;
    font-size: 30px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 14.5px;
    font-weight: 500;
    padding: 6px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}