footer {
    position: static;
    width: 100%;
    height: auto;
    background-color: #f9fafb;
    color: #1a1a1a;
}

.footer-cont {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 280px; /*240px sidebar + 40px gap*/
    box-sizing: border-box;
    
}

.part1 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: #1a1a1a;
}

.sentence {
    font-size: 23px;
    font-weight: 500;
    color: #1a1a1a;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    gap: 16px;
    padding-bottom: 15px;
}

.image {
    width: 25px;
    height: 25px;
    color: #1a1a1a;
    cursor: pointer;
}

.part2 {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.heading {
    font-size: 30px;
    color: #1a1a1a;
}

.quick-links {
    display: grid;
    font-size: 30px;
    color: #1a1a1a;
}

.link {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14.5px;
    font-weight: 500;
    padding: 6px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-cont {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}