.searchbar-cont {
    padding-top: 50px;
}

.search-bar {
    border: 2px solid green;
    border-radius: 5px;
    overflow: hidden;
}

.search-input {
    height: 50px;
    width: 300px;
    border: none;
    background-color: #fff;
    color: black;
}





