.searchbar-cont {
    padding-top: 50px;
}

.search-bar {
    border: 1px solid green;
    border-radius: 5px;
    overflow: hidden;
}

.search-input {
    height: 50px;
    width: 300px;
    border: none;
}





