#app-cont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f3ef;
}

#scrollable {
    flex: 1; 
}

p {
    color: #fff;
}
h1 {
    font-weight: 800;
}