#app-cont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f3ef;
    font-family: 'Griffy', sans-serif;
}

#scrollable {
    flex: 1; 
    font-family: 'Griffy', sans-serif;
}

p {
    color: #fff;
}

h1 {
    font-weight: 800; 
    font-family: 'Griffy', sans-serif;
}